.DS_Store
Amp\ Chrome/amp.js
Amp\ Chrome/background.js
Amp\ Chrome/icons/
Amp.safariextension/Icon-128.png
Amp.safariextension/Icon-16.png
Amp.safariextension/Icon-48.png
Amp.safariextension/Icon-64.png
Amp.safariextension/amp.js
amp.safariextension/global.html
