<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>gd.something.safari.amp</string>
       <key>Developer Identifier</key>
       <string>L7VLS57JHX</string>
       <key>CFBundleVersion</key>
       <string>2.2</string>
       <key>CFBundleShortVersionString</key>
       <string>2.2</string>
       <key>URL</key>
       <string>https://update.something.gd/amp/latest.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
